<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13938696233-pslv89cn8akb2nimuti6kiju3a1nh531.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13938696233-pslv89cn8akb2nimuti6kiju3a1nh531</string>
	<key>API_KEY</key>
	<string>AIzaSyA-uRnqyDfY-8vQ9d4_XPNYjk-rnl5Z8YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13938696233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freezstock</string>
	<key>PROJECT_ID</key>
	<string>freezstocker</string>
	<key>STORAGE_BUCKET</key>
	<string>freezstocker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13938696233:ios:5356044a98de91003ffc38</string>
</dict>
</plist>